/* @config "../tailwind.config.js"; */
@import "tailwindcss";

@theme {
  /* Neutral color palette (text-n-1, bg-n-2, etc.) */
  --color-n-1: #FFFFFF;
  --color-n-2: #CAC6DD;
  --color-n-3: #ADA8C3;
  --color-n-4: #757185;
  --color-n-5: #3F3A52;
  --color-n-6: #252134;
  --color-n-7: #15131D;
  --color-n-8: #0E0C15;
  --color-n-9: #474060;
  --color-n-10: #43435C;
  --color-n-11: #1B1B2E;
  --color-n-12: #2E2A41;
  --color-n-13: #6C7275;
  /* Stroke */
  --color-stroke-1: #26242C;
  /* Accent colors */
  --color-color-1: #AC6AFF;
  --color-color-2: #FFC876;
  --color-color-3: #FF776F;
  --color-color-4: #7ADB78;
  --color-color-5: #858DFF;
  --color-color-6: #FF98E2;
}

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");



:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
    color-scheme: dark;
}

* {
  scroll-behavior: smooth
}

@layer base {
  body {
    @apply font-sans bg-black text-white text-base;
  }
}

.rotate-45 {
  @apply rotate-45
}

.rotate-90 {
  @apply rotate-90
}

.rotate-135 {
  @apply rotate-135
}

.rotate-180 {
  @apply rotate-180
}

.rotate-225 {
  @apply rotate-225
}

.rotate-270 {
  @apply rotate-270
}

.rotate-315 {
  @apply rotate-315
}

.rotate-360 {
  @apply rotate-360
}

.-rotate-45 {
  @apply -rotate-45
}

.-rotate-90 {
  @apply -rotate-90
}

.-rotate-135 {
  @apply rotate-[-135deg]
}

.-rotate-180 {
  @apply -rotate-180
}

.-rotate-225 {
  @apply rotate-[-225deg]
}

.-rotate-270 {
  @apply rotate-[-270deg]
}

.-rotate-315 {
  @apply rotate-[-315deg]
}

.-rotate-360 {
  @apply rotate-[-360deg]
}